{% extends "pages/main.html" %}
{% load staticfiles %}
{% block title %} Sysmon Configuration {% endblock %}

{% block container %}

<h2>Configuration</h2>
    <div class="panel panel-primary">
        <div class="panel-heading"><b>Incoming HTTP requests logging attributes </b></div>
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Log rule</th>
                    <th>Status</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                 {% for rule in log_http_attributes %}
                  <tr>
                    <td> {{ rule.name }} </td>
                    <td>
                        {% if rule.enabled %}
                        <span class="label label-success" style="font-size: 100%;">
                            <input type="checkbox" checked onchange="update_rule('{{ rule.name }}', 'HTTP', 'OFF')"> ON
                        </span>
                        {% else %}
                        <span class="label label-danger" style="font-size: 100%;">
                            <input type="checkbox" onchange="update_rule('{{ rule.name }}', 'HTTP', 'ON')"> OFF
                        </span>
                        {% endif %}
                    </td>
                      <td> {{ rule.description }} </td>
                  </tr>
                 {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><b> View logging attributes </b></div>
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Log rule</th>
                    <th>Status</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                 {% for rule in log_view_attributes %}
                  <tr>
                    <td> {{ rule.name }} </td>
                    <td>
                        {% if rule.enabled %}
                        <span class="label label-success" style="font-size: 100%;">
                            <input type="checkbox" checked> ON
                        </span>
                        {% else %}
                        <span class="label label-danger" style="font-size: 100%;">
                            <input type="checkbox"> OFF
                        </span>
                        {% endif %}
                    </td>
                      <td> {{ rule.description }} </td>
                  </tr>
                 {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>

    <div class="panel panel-primary">
        <div class="panel-heading"><b> Response logging attributes </b></div>
        <div class="panel-body">
            <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Log rule</th>
                    <th>Status</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                 {% for rule in log_response_attributes %}
                  <tr>
                    <td> {{ rule.name }} </td>
                    <td>
                        {% if rule.enabled %}
                        <span class="label label-success" style="font-size: 100%;">
                            <input type="checkbox" checked> ON
                        </span>
                        {% else %}
                        <span class="label label-danger" style="font-size: 100%;">
                            <input type="checkbox"> OFF
                        </span>
                        {% endif %}
                    </td>
                      <td> {{ rule.description }} </td>
                  </tr>
                 {% endfor %}
                </tbody>
            </table>
            </div>
        </div>
    </div>


<script type="application/javascript">
    function update_rule(name, kind, status) {
        $.ajax({
            dataType: 'text',
            type:'POST',
            url: '{% url 'update_log_rule' %}',
            data: {
                rule_name: name,
                kind: kind,
                status: status
            },
            success: function(response){
                location.reload();
            }
        });
    }
</script>
{% endblock %}

