{% extends "pages/main.html" %}
{% load staticfiles %}
{% block title %} Sysmon {% endblock %}

{% block container %}

<div class="jumbotron">
      <div class="container">
        <h1>Welcome to Sysmon</h1>
        <p></p>
        <p><a class="btn btn-primary btn-lg" href="{% url 'monitors' %}" role="button">Show monitors status &raquo;</a></p>
      </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Sysmon status</h2>
            <ul class="list-group">
                <li class="list-group-item"> <span class="badge"> {{ violations_nbr }} </span> Violations number</li>
                <li class="list-group-item"> <span class="badge"> {{ audits_nbr }} </span> Audits number</li>
                <li class="list-group-item"> <span class="badge"> {{ running_mons }} </span> Running monitors</li>
                <li class="list-group-item"> <span class="badge"> {{ offline_mons }} </span> Offline monitors</li>
            </ul>
        </div>

        <div class="col-md-4">
            <h2>Heading</h2>
            <p> </p>
            <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
    </div>
</div>

<hr>

<footer></footer>

{% endblock %}

