<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title"> {{ actor.name }}
        <div style="float: right">
            <button type="button" class="btn btn-default btn-xs"
                    {% if monitor.enabled %}
                    title="Disable"
                    onclick="change_mon_status(1)"
                     {% else %}
                    title="Enable"
                    onclick="change_mon_status(0)"
                    {% endif %}>
                <span class="glyphicon {% if monitor.enabled %} glyphicon-eye-open {% else %} glyphicon-eye-close {% endif %}"
                      aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs" title="Restart">
                <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs" title="Register formulas" onclick="register_formulas()">
                <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
            </button>
        </div>
        </h3>
    </div>
    <div class="panel-body">
        <table class="table">
            <tbody>
                <tr>
                  <td class="mon_details_row_name"> Name </td>
                  <td>{{ actor.name }}</td>
                </tr>
                <tr>
                  <td class="mon_details_row_name"> IP address </td>
                  <td>{{ actor.ip_addr }}:{{ actor.port }}</td>
                </tr>
                <tr>
                  <td class="mon_details_row_name"> Target </td>
                  <td>{{ actor.formulas }}</td>
                </tr>
            </tbody>
          </table>
    </div>
</div>


<script type="application/javascript">

function register_formulas() {
    $.ajax({
        dataType: 'text',
        type:'POST',
        url: '{% url 'register_actor_formulas' actor.name %}',
        data: {
            actor_name: "{{ actor.name }}"
        },
        success: function(response){
            console.log(response)
        }
    });
}
</script>
